.btn {
    &.active, &:active {
        &:not(:disabled):not(.disabled) {
            .toolbar__icon {
                background-position-x: var(--button-small-active-icon-offset-x, 0);
            }
        }
    }
}
.toolbar__icon, .menu__icon {
    background-image: var(--sprite-button-small-100, url(resources/../../img/v2/iconssmall.png));
    background-size: var(--sprite-button-small-width, 40px) auto;
}
.theme-icons-cls-mod2 .btn-add-breakpoint {

    background-position: var(--button-small-normal-icon-offset-x, 0) -792px;
}
.theme-icons-cls-mod2 .btn-add-comment {

    background-position: var(--button-small-normal-icon-offset-x, 0) -816px;
}
.theme-icons-cls-mod2 .btn-addcell {

    background-position: var(--button-small-normal-icon-offset-x, 0) -840px;
}
.theme-icons-cls-mod2 .btn-advanced-ratio {

    background-position: var(--button-small-normal-icon-offset-x, 0) -864px;
}
.theme-icons-cls-mod2 .btn-align-bottom {

    background-position: var(--button-small-normal-icon-offset-x, 0) -888px;
}
.theme-icons-cls-mod2 .btn-align-center {

    background-position: var(--button-small-normal-icon-offset-x, 0) -912px;
}
.theme-icons-cls-mod2 .btn-align-just {

    background-position: var(--button-small-normal-icon-offset-x, 0) -936px;
}
.theme-icons-cls-mod2 .btn-align-left {

    background-position: var(--button-small-normal-icon-offset-x, 0) -960px;
}
.theme-icons-cls-mod2 .btn-align-middle {

    background-position: var(--button-small-normal-icon-offset-x, 0) -984px;
}
.theme-icons-cls-mod2 .btn-align-right {

    background-position: var(--button-small-normal-icon-offset-x, 0) -1008px;
}
.theme-icons-cls-mod2 .btn-align-top {

    background-position: var(--button-small-normal-icon-offset-x, 0) -1032px;
}
.theme-icons-cls-mod2 .btn-arrange-back {

    background-position: var(--button-small-normal-icon-offset-x, 0) -1056px;
}
.theme-icons-cls-mod2 .btn-arrange-backward {

    background-position: var(--button-small-normal-icon-offset-x, 0) -1080px;
}
.theme-icons-cls-mod2 .btn-arrange-forward {

    background-position: var(--button-small-normal-icon-offset-x, 0) -1104px;
}
.theme-icons-cls-mod2 .btn-arrange-front {

    background-position: var(--button-small-normal-icon-offset-x, 0) -1128px;
}
.theme-icons-cls-mod2 .btn-arrow-down {

    background-position: var(--button-small-normal-icon-offset-x, 0) -1152px;
}
.theme-icons-cls-mod2 .btn-arrow-up {

    background-position: var(--button-small-normal-icon-offset-x, 0) -1176px;
}
.theme-icons-cls-mod2 .btn-autocorrect {

    background-position: var(--button-small-normal-icon-offset-x, 0) -1200px;
}
.theme-icons-cls-mod2 .btn-bold {

    background-position: var(--button-small-normal-icon-offset-x, 0) -1224px;
}
.theme-icons-cls-mod2 .btn-border-all {

    background-position: var(--button-small-normal-icon-offset-x, 0) -1248px;
}
.theme-icons-cls-mod2 .btn-border-bottom {

    background-position: var(--button-small-normal-icon-offset-x, 0) -1272px;
}
.theme-icons-cls-mod2 .btn-border-diagdown {

    background-position: var(--button-small-normal-icon-offset-x, 0) -1296px;
}
.theme-icons-cls-mod2 .btn-border-diagup {

    background-position: var(--button-small-normal-icon-offset-x, 0) -1320px;
}
.theme-icons-cls-mod2 .btn-border-inside {

    background-position: var(--button-small-normal-icon-offset-x, 0) -1344px;
}
.theme-icons-cls-mod2 .btn-border-insidehor {

    background-position: var(--button-small-normal-icon-offset-x, 0) -1368px;
}
.theme-icons-cls-mod2 .btn-border-insidevert {

    background-position: var(--button-small-normal-icon-offset-x, 0) -1392px;
}
.theme-icons-cls-mod2 .btn-border-left {

    background-position: var(--button-small-normal-icon-offset-x, 0) -1416px;
}
.theme-icons-cls-mod2 .btn-border-no {

    background-position: var(--button-small-normal-icon-offset-x, 0) -1440px;
}
.theme-icons-cls-mod2 .btn-border-out {

    background-position: var(--button-small-normal-icon-offset-x, 0) -1464px;
}
.theme-icons-cls-mod2 .btn-border-right {

    background-position: var(--button-small-normal-icon-offset-x, 0) -1488px;
}
.theme-icons-cls-mod2 .btn-border-style {

    background-position: var(--button-small-normal-icon-offset-x, 0) -1512px;
}
.theme-icons-cls-mod2 .btn-border-top {

    background-position: var(--button-small-normal-icon-offset-x, 0) -1536px;
}
.theme-icons-cls-mod2 .btn-browse {

    background-position: var(--button-small-normal-icon-offset-x, 0) -1560px;
}
.theme-icons-cls-mod2 .btn-cc-remove {

    background-position: var(--button-small-normal-icon-offset-x, 0) -1584px;
}
.theme-icons-cls-mod2 .btn-change-case {

    background-position: var(--button-small-normal-icon-offset-x, 0) -1608px;
}
.theme-icons-cls-mod2 .btn-chart-elements {

    background-position: var(--button-small-normal-icon-offset-x, 0) -1632px;
}
.theme-icons-cls-mod2 .btn-clearstyle {

    background-position: var(--button-small-normal-icon-offset-x, 0) -1656px;
}
.theme-icons-cls-mod2 .btn-close {

    background-position: var(--button-small-normal-icon-offset-x, 0) -1680px;
}
.theme-icons-cls-mod2 .btn-collapse-all {

    background-position: var(--button-small-normal-icon-offset-x, 0) -1704px;
}
.theme-icons-cls-mod2 .btn-colorschemas {

    background-position: var(--button-small-normal-icon-offset-x, 0) -1728px;
}
.theme-icons-cls-mod2 .btn-columns-one {

    background-position: var(--button-small-normal-icon-offset-x, 0) -1752px;
}
.theme-icons-cls-mod2 .btn-columns-three {

    background-position: var(--button-small-normal-icon-offset-x, 0) -1776px;
}
.theme-icons-cls-mod2 .btn-columns-two {

    background-position: var(--button-small-normal-icon-offset-x, 0) -1800px;
}
.theme-icons-cls-mod2 .btn-combine-shapes {

    background-position: var(--button-small-normal-icon-offset-x, 0) -1824px;
}
.theme-icons-cls-mod2 .btn-context {

    background-position: var(--button-small-normal-icon-offset-x, 0) -1848px;
}
.theme-icons-cls-mod2 .btn-copy {

    background-position: var(--button-small-normal-icon-offset-x, 0) -1872px;
}
.theme-icons-cls-mod2 .btn-copystyle {

    background-position: var(--button-small-normal-icon-offset-x, 0) -1896px;
}
.theme-icons-cls-mod2 .btn-create-new {

    background-position: var(--button-small-normal-icon-offset-x, 0) -1920px;
}
.theme-icons-cls-mod2 .btn-cut {

    background-position: var(--button-small-normal-icon-offset-x, 0) -1944px;
}
.theme-icons-cls-mod2 .btn-date {

    background-position: var(--button-small-normal-icon-offset-x, 0) -1968px;
}
.theme-icons-cls-mod2 .btn-debug {

    background-position: var(--button-small-normal-icon-offset-x, 0) -1992px;
}
.theme-icons-cls-mod2 .btn-decfont {

    background-position: var(--button-small-normal-icon-offset-x, 0) -2016px;
}
.theme-icons-cls-mod2 .btn-decoffset {

    background-position: var(--button-small-normal-icon-offset-x, 0) -2040px;
}
.theme-icons-cls-mod2 .btn-delcell {

    background-position: var(--button-small-normal-icon-offset-x, 0) -2064px;
}
.theme-icons-cls-mod2 .btn-demote {

    background-position: var(--button-small-normal-icon-offset-x, 0) -2088px;
}
.theme-icons-cls-mod2 .btn-developer {

    background-position: var(--button-small-normal-icon-offset-x, 0) -2112px;
}
.theme-icons-cls-mod2 .btn-download {

    background-position: var(--button-small-normal-icon-offset-x, 0) -2136px;
}
.theme-icons-cls-mod2 .btn-edit-points {

    background-position: var(--button-small-normal-icon-offset-x, 0) -2160px;
}
.theme-icons-cls-mod2 .btn-edit {

    background-position: var(--button-small-normal-icon-offset-x, 0) -2184px;
}
.theme-icons-cls-mod2 .btn-embed {

    background-position: var(--button-small-normal-icon-offset-x, 0) -2208px;
}
.theme-icons-cls-mod2 .btn-equation {

    background-position: var(--button-small-normal-icon-offset-x, 0) -2232px;
}
.theme-icons-cls-mod2 .btn-expand-all {

    background-position: var(--button-small-normal-icon-offset-x, 0) -2256px;
}
.theme-icons-cls-mod2 .btn-eyedropper {

    background-position: var(--button-small-normal-icon-offset-x, 0) -2280px;
}
.theme-icons-cls-mod2 .btn-favorite {

    background-position: var(--button-small-normal-icon-offset-x, 0) -2304px;
}
.theme-icons-cls-mod2 .btn-firstitem {

    background-position: var(--button-small-normal-icon-offset-x, 0) -2328px;
}
.theme-icons-cls-mod2 .btn-flip-hor {

    background-position: var(--button-small-normal-icon-offset-x, 0) -2352px;
}
.theme-icons-cls-mod2 .btn-flip-vert {

    background-position: var(--button-small-normal-icon-offset-x, 0) -2376px;
}
.theme-icons-cls-mod2 .btn-fontcolor {

    background-position: var(--button-small-normal-icon-offset-x, 0) -2400px;
}
.theme-icons-cls-mod2 .btn-fragment-shapes {

    background-position: var(--button-small-normal-icon-offset-x, 0) -2424px;
}
.theme-icons-cls-mod2 .btn-general-ai {

    background-position: var(--button-small-normal-icon-offset-x, 0) -2448px;
}
.theme-icons-cls-mod2 .btn-goback {

    background-position: var(--button-small-normal-icon-offset-x, 0) -2472px;
}
.theme-icons-cls-mod2 .btn-help {

    background-position: var(--button-small-normal-icon-offset-x, 0) -2496px;
}
.theme-icons-cls-mod2 .btn-hide-password {

    background-position: var(--button-small-normal-icon-offset-x, 0) -2520px;
}
.theme-icons-cls-mod2 .btn-highlight {

    background-position: var(--button-small-normal-icon-offset-x, 0) -2544px;
}
.theme-icons-cls-mod2 .btn-home {

    background-position: var(--button-small-normal-icon-offset-x, 0) -2568px;
}
.theme-icons-cls-mod2 .btn-ic-doclang {

    background-position: var(--button-small-normal-icon-offset-x, 0) -2592px;
}
.theme-icons-cls-mod2 .btn-ic-docspell {

    background-position: var(--button-small-normal-icon-offset-x, 0) -2616px;
}
.theme-icons-cls-mod2 .btn-ic-options {

    background-position: var(--button-small-normal-icon-offset-x, 0) -2640px;
}
.theme-icons-cls-mod2 .btn-ic-review {

    background-position: var(--button-small-normal-icon-offset-x, 0) -2664px;
}
.theme-icons-cls-mod2 .btn-ic-zoomtopage {

    background-position: var(--button-small-normal-icon-offset-x, 0) -2688px;
}
.theme-icons-cls-mod2 .btn-ic-zoomtowidth {

    background-position: var(--button-small-normal-icon-offset-x, 0) -2712px;
}
.theme-icons-cls-mod2 .btn-in-favorite {

    background-position: var(--button-small-normal-icon-offset-x, 0) -2736px;
}
.theme-icons-cls-mod2 .btn-incfont {

    background-position: var(--button-small-normal-icon-offset-x, 0) -2760px;
}
.theme-icons-cls-mod2 .btn-incoffset {

    background-position: var(--button-small-normal-icon-offset-x, 0) -2784px;
}
.theme-icons-cls-mod2 .btn-inserthyperlink {

    background-position: var(--button-small-normal-icon-offset-x, 0) -2808px;
}
.theme-icons-cls-mod2 .btn-intersect-shapes {

    background-position: var(--button-small-normal-icon-offset-x, 0) -2832px;
}
.theme-icons-cls-mod2 .btn-italic {

    background-position: var(--button-small-normal-icon-offset-x, 0) -2856px;
}
.theme-icons-cls-mod2 .btn-lastitem {

    background-position: var(--button-small-normal-icon-offset-x, 0) -2880px;
}
.theme-icons-cls-mod2 .btn-linear-equation {

    background-position: var(--button-small-normal-icon-offset-x, 0) -2904px;
}
.theme-icons-cls-mod2 .btn-linespace {

    background-position: var(--button-small-normal-icon-offset-x, 0) -2928px;
}
.theme-icons-cls-mod2 .btn-lock {

    background-position: var(--button-small-normal-icon-offset-x, 0) -2952px;
}
.theme-icons-cls-mod2 .btn-ltr {

    background-position: var(--button-small-normal-icon-offset-x, 0) -2976px;
}
.theme-icons-cls-mod2 .btn-macros-pause {

    background-position: var(--button-small-normal-icon-offset-x, 0) -3000px;
}
.theme-icons-cls-mod2 .btn-macros-record {

    background-position: var(--button-small-normal-icon-offset-x, 0) -3024px;
}
.theme-icons-cls-mod2 .btn-macros-stop {

    background-position: var(--button-small-normal-icon-offset-x, 0) -3048px;
}
.theme-icons-cls-mod2 .btn-menu-about {

    background-position: var(--button-small-normal-icon-offset-x, 0) -3072px;
}
.theme-icons-cls-mod2 .btn-menu-chart {

    background-position: var(--button-small-normal-icon-offset-x, 0) -3096px;
}
.theme-icons-cls-mod2 .btn-menu-chat {

    background-position: var(--button-small-normal-icon-offset-x, 0) -3120px;
}
.theme-icons-cls-mod2 .btn-menu-comments {

    background-position: var(--button-small-normal-icon-offset-x, 0) -3144px;
}
.theme-icons-cls-mod2 .btn-menu-image {

    background-position: var(--button-small-normal-icon-offset-x, 0) -3168px;
}
.theme-icons-cls-mod2 .btn-menu-navigation {

    background-position: var(--button-small-normal-icon-offset-x, 0) -3192px;
}
.theme-icons-cls-mod2 .btn-menu-search {

    background-position: var(--button-small-normal-icon-offset-x, 0) -3216px;
}
.theme-icons-cls-mod2 .btn-menu-shape {

    background-position: var(--button-small-normal-icon-offset-x, 0) -3240px;
}
.theme-icons-cls-mod2 .btn-menu-signature {

    background-position: var(--button-small-normal-icon-offset-x, 0) -3264px;
}
.theme-icons-cls-mod2 .btn-menu-support {

    background-position: var(--button-small-normal-icon-offset-x, 0) -3288px;
}
.theme-icons-cls-mod2 .btn-menu-table {

    background-position: var(--button-small-normal-icon-offset-x, 0) -3312px;
}
.theme-icons-cls-mod2 .btn-menu-textart {

    background-position: var(--button-small-normal-icon-offset-x, 0) -3336px;
}
.theme-icons-cls-mod2 .btn-merge-cells {

    background-position: var(--button-small-normal-icon-offset-x, 0) -3360px;
}
.theme-icons-cls-mod2 .btn-more-vertical {

    background-position: var(--button-small-normal-icon-offset-x, 0) -3384px;
}
.theme-icons-cls-mod2 .btn-more {

    background-position: var(--button-small-normal-icon-offset-x, 0) -3408px;
}
.theme-icons-cls-mod2 .btn-nextitem {

    background-position: var(--button-small-normal-icon-offset-x, 0) -3432px;
}
.theme-icons-cls-mod2 .btn-numbering-rtl {

    background-position: var(--button-small-normal-icon-offset-x, 0) -3456px;
}
.theme-icons-cls-mod2 .btn-numbering {

    background-position: var(--button-small-normal-icon-offset-x, 0) -3480px;
}
.theme-icons-cls-mod2 .btn-open {

    background-position: var(--button-small-normal-icon-offset-x, 0) -3504px;
}
.theme-icons-cls-mod2 .btn-page-landscape {

    background-position: var(--button-small-normal-icon-offset-x, 0) -3528px;
}
.theme-icons-cls-mod2 .btn-page-portrait {

    background-position: var(--button-small-normal-icon-offset-x, 0) -3552px;
}
.theme-icons-cls-mod2 .btn-panel-left-collapse {

    background-position: var(--button-small-normal-icon-offset-x, 0) -3576px;
}
.theme-icons-cls-mod2 .btn-paracolor {

    background-position: var(--button-small-normal-icon-offset-x, 0) -3600px;
}
.theme-icons-cls-mod2 .btn-paragraph {

    background-position: var(--button-small-normal-icon-offset-x, 0) -3624px;
}
.theme-icons-cls-mod2 .btn-paste {

    background-position: var(--button-small-normal-icon-offset-x, 0) -3648px;
}
.theme-icons-cls-mod2 .btn-pin {

    background-position: var(--button-small-normal-icon-offset-x, 0) -3672px;
}
.theme-icons-cls-mod2 .btn-plugin-panel-default {

    background-position: var(--button-small-normal-icon-offset-x, 0) -3696px;
}
.theme-icons-cls-mod2 .btn-previtem {

    background-position: var(--button-small-normal-icon-offset-x, 0) -3720px;
}
.theme-icons-cls-mod2 .btn-print-preview {

    background-position: var(--button-small-normal-icon-offset-x, 0) -3744px;
}
.theme-icons-cls-mod2 .btn-print {

    background-position: var(--button-small-normal-icon-offset-x, 0) -3768px;
}
.theme-icons-cls-mod2 .btn-professional-equation {

    background-position: var(--button-small-normal-icon-offset-x, 0) -3792px;
}
.theme-icons-cls-mod2 .btn-promote {

    background-position: var(--button-small-normal-icon-offset-x, 0) -3816px;
}
.theme-icons-cls-mod2 .btn-quick-print {

    background-position: var(--button-small-normal-icon-offset-x, 0) -3840px;
}
.theme-icons-cls-mod2 .btn-redo {

    background-position: var(--button-small-normal-icon-offset-x, 0) -3864px;
}
.theme-icons-cls-mod2 .btn-remove-breakpoint {

    background-position: var(--button-small-normal-icon-offset-x, 0) -3888px;
}
.theme-icons-cls-mod2 .btn-rename {

    background-position: var(--button-small-normal-icon-offset-x, 0) -3912px;
}
.theme-icons-cls-mod2 .btn-replace {

    background-position: var(--button-small-normal-icon-offset-x, 0) -3936px;
}
.theme-icons-cls-mod2 .btn-reset {

    background-position: var(--button-small-normal-icon-offset-x, 0) -3960px;
}
.theme-icons-cls-mod2 .btn-rotate-270 {

    background-position: var(--button-small-normal-icon-offset-x, 0) -3984px;
}
.theme-icons-cls-mod2 .btn-rotate-90 {

    background-position: var(--button-small-normal-icon-offset-x, 0) -4008px;
}
.theme-icons-cls-mod2 .btn-rotate-down {

    background-position: var(--button-small-normal-icon-offset-x, 0) -4032px;
}
.theme-icons-cls-mod2 .btn-rotate-up {

    background-position: var(--button-small-normal-icon-offset-x, 0) -4056px;
}
.theme-icons-cls-mod2 .btn-rotate-y-clockwise {

    background-position: var(--button-small-normal-icon-offset-x, 0) -4080px;
}
.theme-icons-cls-mod2 .btn-rotate-y-counterclockwise {

    background-position: var(--button-small-normal-icon-offset-x, 0) -4104px;
}
.theme-icons-cls-mod2 .btn-rows-and-columns {

    background-position: var(--button-small-normal-icon-offset-x, 0) -4128px;
}
.theme-icons-cls-mod2 .btn-rtl {

    background-position: var(--button-small-normal-icon-offset-x, 0) -4152px;
}
.theme-icons-cls-mod2 .btn-run {

    background-position: var(--button-small-normal-icon-offset-x, 0) -4176px;
}
.theme-icons-cls-mod2 .btn-save-coauth {

    background-position: var(--button-small-normal-icon-offset-x, 0) -4200px;
}
.theme-icons-cls-mod2 .btn-save-copy {

    background-position: var(--button-small-normal-icon-offset-x, 0) -4224px;
}
.theme-icons-cls-mod2 .btn-save {

    background-position: var(--button-small-normal-icon-offset-x, 0) -4248px;
}
.theme-icons-cls-mod2 .btn-select-all {

    background-position: var(--button-small-normal-icon-offset-x, 0) -4272px;
}
.theme-icons-cls-mod2 .btn-select-range {

    background-position: var(--button-small-normal-icon-offset-x, 0) -4296px;
}
.theme-icons-cls-mod2 .btn-setmarkers-rtl {

    background-position: var(--button-small-normal-icon-offset-x, 0) -4320px;
}
.theme-icons-cls-mod2 .btn-setmarkers {

    background-position: var(--button-small-normal-icon-offset-x, 0) -4344px;
}
.theme-icons-cls-mod2 .btn-settings {

    background-position: var(--button-small-normal-icon-offset-x, 0) -4368px;
}
.theme-icons-cls-mod2 .btn-shadow {

    background-position: var(--button-small-normal-icon-offset-x, 0) -4392px;
}
.theme-icons-cls-mod2 .btn-shape-align-bottom {

    background-position: var(--button-small-normal-icon-offset-x, 0) -4416px;
}
.theme-icons-cls-mod2 .btn-shape-align-center {

    background-position: var(--button-small-normal-icon-offset-x, 0) -4440px;
}
.theme-icons-cls-mod2 .btn-shape-align-left {

    background-position: var(--button-small-normal-icon-offset-x, 0) -4464px;
}
.theme-icons-cls-mod2 .btn-shape-align-middle {

    background-position: var(--button-small-normal-icon-offset-x, 0) -4488px;
}
.theme-icons-cls-mod2 .btn-shape-align-right {

    background-position: var(--button-small-normal-icon-offset-x, 0) -4512px;
}
.theme-icons-cls-mod2 .btn-shape-align-top {

    background-position: var(--button-small-normal-icon-offset-x, 0) -4536px;
}
.theme-icons-cls-mod2 .btn-shape-distribute-hor {

    background-position: var(--button-small-normal-icon-offset-x, 0) -4560px;
}
.theme-icons-cls-mod2 .btn-shape-distribute-vert {

    background-position: var(--button-small-normal-icon-offset-x, 0) -4584px;
}
.theme-icons-cls-mod2 .btn-shape-group {

    background-position: var(--button-small-normal-icon-offset-x, 0) -4608px;
}
.theme-icons-cls-mod2 .btn-shape-ungroup {

    background-position: var(--button-small-normal-icon-offset-x, 0) -4632px;
}
.theme-icons-cls-mod2 .btn-share {

    background-position: var(--button-small-normal-icon-offset-x, 0) -4656px;
}
.theme-icons-cls-mod2 .btn-sheet-view {

    background-position: var(--button-small-normal-icon-offset-x, 0) -4680px;
}
.theme-icons-cls-mod2 .btn-smart-cycle {

    background-position: var(--button-small-normal-icon-offset-x, 0) -4704px;
}
.theme-icons-cls-mod2 .btn-smart-hierarchy {

    background-position: var(--button-small-normal-icon-offset-x, 0) -4728px;
}
.theme-icons-cls-mod2 .btn-smart-list {

    background-position: var(--button-small-normal-icon-offset-x, 0) -4752px;
}
.theme-icons-cls-mod2 .btn-smart-matrix {

    background-position: var(--button-small-normal-icon-offset-x, 0) -4776px;
}
.theme-icons-cls-mod2 .btn-smart-process {

    background-position: var(--button-small-normal-icon-offset-x, 0) -4800px;
}
.theme-icons-cls-mod2 .btn-smart-pyramid {

    background-position: var(--button-small-normal-icon-offset-x, 0) -4824px;
}
.theme-icons-cls-mod2 .btn-smart-relationship {

    background-position: var(--button-small-normal-icon-offset-x, 0) -4848px;
}
.theme-icons-cls-mod2 .btn-strikeout {

    background-position: var(--button-small-normal-icon-offset-x, 0) -4872px;
}
.theme-icons-cls-mod2 .btn-styles {

    background-position: var(--button-small-normal-icon-offset-x, 0) -4896px;
}
.theme-icons-cls-mod2 .btn-subscript {

    background-position: var(--button-small-normal-icon-offset-x, 0) -4920px;
}
.theme-icons-cls-mod2 .btn-substract-shapes {

    background-position: var(--button-small-normal-icon-offset-x, 0) -4944px;
}
.theme-icons-cls-mod2 .btn-suggest-feature {

    background-position: var(--button-small-normal-icon-offset-x, 0) -4968px;
}
.theme-icons-cls-mod2 .btn-superscript {

    background-position: var(--button-small-normal-icon-offset-x, 0) -4992px;
}
.theme-icons-cls-mod2 .btn-switch-mobile {

    background-position: var(--button-small-normal-icon-offset-x, 0) -5016px;
}
.theme-icons-cls-mod2 .btn-text-orient-hor {

    background-position: var(--button-small-normal-icon-offset-x, 0) -5040px;
}
.theme-icons-cls-mod2 .btn-text-orient-rdown {

    background-position: var(--button-small-normal-icon-offset-x, 0) -5064px;
}
.theme-icons-cls-mod2 .btn-text-orient-rup {

    background-position: var(--button-small-normal-icon-offset-x, 0) -5088px;
}
.theme-icons-cls-mod2 .btn-text-vertical {

    background-position: var(--button-small-normal-icon-offset-x, 0) -5112px;
}
.theme-icons-cls-mod2 .btn-text {

    background-position: var(--button-small-normal-icon-offset-x, 0) -5136px;
}
.theme-icons-cls-mod2 .btn-tree-caret {

    background-position: var(--button-small-normal-icon-offset-x, 0) -5160px;
}
.theme-icons-cls-mod2 .btn-underline {

    background-position: var(--button-small-normal-icon-offset-x, 0) -5184px;
}
.theme-icons-cls-mod2 .btn-undo {

    background-position: var(--button-small-normal-icon-offset-x, 0) -5208px;
}
.theme-icons-cls-mod2 .btn-union-shapes {

    background-position: var(--button-small-normal-icon-offset-x, 0) -5232px;
}
.theme-icons-cls-mod2 .btn-unpin {

    background-position: var(--button-small-normal-icon-offset-x, 0) -5256px;
}
.theme-icons-cls-mod2 .btn-update {

    background-position: var(--button-small-normal-icon-offset-x, 0) -5280px;
}
.theme-icons-cls-mod2 .btn-users-share {

    background-position: var(--button-small-normal-icon-offset-x, 0) -5304px;
}
.theme-icons-cls-mod2 .btn-version-history {

    background-position: var(--button-small-normal-icon-offset-x, 0) -5328px;
}
.theme-icons-cls-mod2 .btn-zoomdown {

    background-position: var(--button-small-normal-icon-offset-x, 0) -5352px;
}
.theme-icons-cls-mod2 .btn-zoomup {

    background-position: var(--button-small-normal-icon-offset-x, 0) -5376px;
}
.theme-icons-cls-mod2 .btn-add-text {

    background-position: var(--button-small-normal-icon-offset-x, 0) 0px;
}
.theme-icons-cls-mod2 .btn-cc-plaintext {

    background-position: var(--button-small-normal-icon-offset-x, 0) -24px;
}
.theme-icons-cls-mod2 .btn-cc-richtext {

    background-position: var(--button-small-normal-icon-offset-x, 0) -48px;
}
.theme-icons-cls-mod2 .btn-columns-left {

    background-position: var(--button-small-normal-icon-offset-x, 0) -72px;
}
.theme-icons-cls-mod2 .btn-columns-right {

    background-position: var(--button-small-normal-icon-offset-x, 0) -96px;
}
.theme-icons-cls-mod2 .btn-contents {

    background-position: var(--button-small-normal-icon-offset-x, 0) -120px;
}
.theme-icons-cls-mod2 .btn-distribute-columns {

    background-position: var(--button-small-normal-icon-offset-x, 0) -144px;
}
.theme-icons-cls-mod2 .btn-distribute-rows {

    background-position: var(--button-small-normal-icon-offset-x, 0) -168px;
}
.theme-icons-cls-mod2 .btn-dropcap-inmargin {

    background-position: var(--button-small-normal-icon-offset-x, 0) -192px;
}
.theme-icons-cls-mod2 .btn-dropcap-intext {

    background-position: var(--button-small-normal-icon-offset-x, 0) -216px;
}
.theme-icons-cls-mod2 .btn-field {

    background-position: var(--button-small-normal-icon-offset-x, 0) -240px;
}
.theme-icons-cls-mod2 .btn-filling-status {

    background-position: var(--button-small-normal-icon-offset-x, 0) -264px;
}
.theme-icons-cls-mod2 .btn-fixed-field {

    background-position: var(--button-small-normal-icon-offset-x, 0) -288px;
}
.theme-icons-cls-mod2 .btn-function {

    background-position: var(--button-small-normal-icon-offset-x, 0) -312px;
}
.theme-icons-cls-mod2 .btn-hand-tool {

    background-position: var(--button-small-normal-icon-offset-x, 0) -336px;
}
.theme-icons-cls-mod2 .btn-mailmerge {

    background-position: var(--button-small-normal-icon-offset-x, 0) -360px;
}
.theme-icons-cls-mod2 .btn-menu-header {

    background-position: var(--button-small-normal-icon-offset-x, 0) -384px;
}
.theme-icons-cls-mod2 .btn-menu-thumbs {

    background-position: var(--button-small-normal-icon-offset-x, 0) -408px;
}
.theme-icons-cls-mod2 .btn-multilevels-rtl {

    background-position: var(--button-small-normal-icon-offset-x, 0) -432px;
}
.theme-icons-cls-mod2 .btn-multilevels {

    background-position: var(--button-small-normal-icon-offset-x, 0) -456px;
}
.theme-icons-cls-mod2 .btn-select-tool {

    background-position: var(--button-small-normal-icon-offset-x, 0) -480px;
}
.theme-icons-cls-mod2 .btn-small-wrap-behind {

    background-position: var(--button-small-normal-icon-offset-x, 0) -504px;
}
.theme-icons-cls-mod2 .btn-small-wrap-infront {

    background-position: var(--button-small-normal-icon-offset-x, 0) -528px;
}
.theme-icons-cls-mod2 .btn-small-wrap-inline {

    background-position: var(--button-small-normal-icon-offset-x, 0) -552px;
}
.theme-icons-cls-mod2 .btn-small-wrap-square {

    background-position: var(--button-small-normal-icon-offset-x, 0) -576px;
}
.theme-icons-cls-mod2 .btn-small-wrap-through {

    background-position: var(--button-small-normal-icon-offset-x, 0) -600px;
}
.theme-icons-cls-mod2 .btn-small-wrap-tight {

    background-position: var(--button-small-normal-icon-offset-x, 0) -624px;
}
.theme-icons-cls-mod2 .btn-small-wrap-topandbottom {

    background-position: var(--button-small-normal-icon-offset-x, 0) -648px;
}
.theme-icons-cls-mod2 .btn-table-to-text {

    background-position: var(--button-small-normal-icon-offset-x, 0) -672px;
}
.theme-icons-cls-mod2 .btn-thumbnail-big {

    background-position: var(--button-small-normal-icon-offset-x, 0) -696px;
}
.theme-icons-cls-mod2 .btn-thumbnail-small {

    background-position: var(--button-small-normal-icon-offset-x, 0) -720px;
}
.theme-icons-cls-mod2 .btn-to-columns {

    background-position: var(--button-small-normal-icon-offset-x, 0) -744px;
}
.theme-icons-cls-mod2 .btn-word-count {

    background-position: var(--button-small-normal-icon-offset-x, 0) -768px;
}
