.btn {
    &.x-huge {
        &.active, &:active {
            &:not(:disabled):not(.disabled) {
                .toolbar__icon {
                    background-position-x: var(--button-xhuge-active-icon-offset-x,0);
                }
            }
        }
    }

    &.active, &:active {
        &:not(:disabled):not(.disabled) {
            .toolbar__icon.toolbar__icon-big {
                background-position-x: var(--button-xhuge-active-icon-offset-x,0);
            }
        }
    }
}
.x-huge .toolbar__icon, .toolbar__icon.toolbar__icon-big {
    background-image: var(--sprite-button-big-100, url(resources/../../img/v2/iconsbig.png));
    background-size: var(--sprite-button-big-width, 56px) auto;

}
.x-huge .btn-audio:not(.menu__icon),
    .toolbar__icon-big.btn-audio
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -5600px;
}
.x-huge .btn-background-plugins:not(.menu__icon),
    .toolbar__icon-big.btn-background-plugins
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -5628px;
}
.x-huge .btn-big-add-comment:not(.menu__icon),
    .toolbar__icon-big.btn-big-add-comment
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -5656px;
}
.x-huge .btn-big-colorschemas:not(.menu__icon),
    .toolbar__icon-big.btn-big-colorschemas
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -5684px;
}
.x-huge .btn-big-hand-tool:not(.menu__icon),
    .toolbar__icon-big.btn-big-hand-tool
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -5712px;
}
.x-huge .btn-big-inserthyperlink:not(.menu__icon),
    .toolbar__icon-big.btn-big-inserthyperlink
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -5740px;
}
.x-huge .btn-big-menu-comments:not(.menu__icon),
    .toolbar__icon-big.btn-big-menu-comments
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -5768px;
}
.x-huge .btn-big-menu-navigation:not(.menu__icon),
    .toolbar__icon-big.btn-big-menu-navigation
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -5796px;
}
.x-huge .btn-big-more:not(.menu__icon),
    .toolbar__icon-big.btn-big-more
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -5824px;
}
.x-huge .btn-big-sheet-view:not(.menu__icon),
    .toolbar__icon-big.btn-big-sheet-view
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -5852px;
}
.x-huge .btn-big-text-vertical:not(.menu__icon),
    .toolbar__icon-big.btn-big-text-vertical
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -5880px;
}
.x-huge .btn-big-text:not(.menu__icon),
    .toolbar__icon-big.btn-big-text
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -5908px;
}
.x-huge .btn-compare:not(.menu__icon),
    .toolbar__icon-big.btn-compare
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -5936px;
}
.x-huge .btn-datetime:not(.menu__icon),
    .toolbar__icon-big.btn-datetime
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -5964px;
}
.x-huge .btn-day:not(.menu__icon),
    .toolbar__icon-big.btn-day
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -5992px;
}
.x-huge .btn-editheader:not(.menu__icon),
    .toolbar__icon-big.btn-editheader
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -6020px;
}
.x-huge .btn-eraser:not(.menu__icon),
    .toolbar__icon-big.btn-eraser
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -6048px;
}
.x-huge .btn-highlighter-tool:not(.menu__icon),
    .toolbar__icon-big.btn-highlighter-tool
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -6076px;
}
.x-huge .btn-ic-chat:not(.menu__icon),
    .toolbar__icon-big.btn-ic-chat
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -6104px;
}
.x-huge .btn-ic-coedit:not(.menu__icon),
    .toolbar__icon-big.btn-ic-coedit
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -6132px;
}
.x-huge .btn-ic-history:not(.menu__icon),
    .toolbar__icon-big.btn-ic-history
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -6160px;
}
.x-huge .btn-ic-protect:not(.menu__icon),
    .toolbar__icon-big.btn-ic-protect
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -6188px;
}
.x-huge .btn-ic-sharing:not(.menu__icon),
    .toolbar__icon-big.btn-ic-sharing
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -6216px;
}
.x-huge .btn-ic-signature:not(.menu__icon),
    .toolbar__icon-big.btn-ic-signature
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -6244px;
}
.x-huge .btn-img-align:not(.menu__icon),
    .toolbar__icon-big.btn-img-align
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -6272px;
}
.x-huge .btn-img-bkwd:not(.menu__icon),
    .toolbar__icon-big.btn-img-bkwd
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -6300px;
}
.x-huge .btn-img-frwd:not(.menu__icon),
    .toolbar__icon-big.btn-img-frwd
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -6328px;
}
.x-huge .btn-img-group:not(.menu__icon),
    .toolbar__icon-big.btn-img-group
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -6356px;
}
.x-huge .btn-insertchart:not(.menu__icon),
    .toolbar__icon-big.btn-insertchart
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -6384px;
}
.x-huge .btn-insertequation:not(.menu__icon),
    .toolbar__icon-big.btn-insertequation
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -6412px;
}
.x-huge .btn-insertimage:not(.menu__icon),
    .toolbar__icon-big.btn-insertimage
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -6440px;
}
.x-huge .btn-insertshape:not(.menu__icon),
    .toolbar__icon-big.btn-insertshape
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -6468px;
}
.x-huge .btn-inserttable:not(.menu__icon),
    .toolbar__icon-big.btn-inserttable
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -6496px;
}
.x-huge .btn-macros:not(.menu__icon),
    .toolbar__icon-big.btn-macros
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -6524px;
}
.x-huge .btn-merge-shapes:not(.menu__icon),
    .toolbar__icon-big.btn-merge-shapes
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -6552px;
}
.x-huge .btn-night:not(.menu__icon),
    .toolbar__icon-big.btn-night
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -6580px;
}
.x-huge .btn-pagebreak:not(.menu__icon),
    .toolbar__icon-big.btn-pagebreak
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -6608px;
}
.x-huge .btn-pagemargins:not(.menu__icon),
    .toolbar__icon-big.btn-pagemargins
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -6636px;
}
.x-huge .btn-pageorient:not(.menu__icon),
    .toolbar__icon-big.btn-pageorient
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -6664px;
}
.x-huge .btn-pagesize:not(.menu__icon),
    .toolbar__icon-big.btn-pagesize
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -6692px;
}
.x-huge .btn-pen-tool:not(.menu__icon),
    .toolbar__icon-big.btn-pen-tool
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -6720px;
}
.x-huge .btn-plugin-default:not(.menu__icon),
    .toolbar__icon-big.btn-plugin-default
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -6748px;
}
.x-huge .btn-properties:not(.menu__icon),
    .toolbar__icon-big.btn-properties
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -6776px;
}
.x-huge .btn-rem-comment:not(.menu__icon),
    .toolbar__icon-big.btn-rem-comment
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -6804px;
}
.x-huge .btn-resolve-all:not(.menu__icon),
    .toolbar__icon-big.btn-resolve-all
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -6832px;
}
.x-huge .btn-select:not(.menu__icon),
    .toolbar__icon-big.btn-select
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -6860px;
}
.x-huge .btn-smart-art:not(.menu__icon),
    .toolbar__icon-big.btn-smart-art
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -6888px;
}
.x-huge .btn-symbol:not(.menu__icon),
    .toolbar__icon-big.btn-symbol
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -6916px;
}
.x-huge .btn-textart:not(.menu__icon),
    .toolbar__icon-big.btn-textart
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -6944px;
}
.x-huge .btn-update:not(.menu__icon),
    .toolbar__icon-big.btn-update
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -6972px;
}
.x-huge .btn-video:not(.menu__icon),
    .toolbar__icon-big.btn-video
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -7000px;
}
.x-huge .animation-emphasis-blink:not(.menu__icon),
    .toolbar__icon-big.animation-emphasis-blink
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) 0px;
}
.x-huge .animation-emphasis-bold-flash:not(.menu__icon),
    .toolbar__icon-big.animation-emphasis-bold-flash
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -28px;
}
.x-huge .animation-emphasis-bold-reveal:not(.menu__icon),
    .toolbar__icon-big.animation-emphasis-bold-reveal
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -56px;
}
.x-huge .animation-emphasis-brush-color:not(.menu__icon),
    .toolbar__icon-big.animation-emphasis-brush-color
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -84px;
}
.x-huge .animation-emphasis-color-pulse:not(.menu__icon),
    .toolbar__icon-big.animation-emphasis-color-pulse
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -112px;
}
.x-huge .animation-emphasis-complementary-color:not(.menu__icon),
    .toolbar__icon-big.animation-emphasis-complementary-color
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -140px;
}
.x-huge .animation-emphasis-contrasting-color:not(.menu__icon),
    .toolbar__icon-big.animation-emphasis-contrasting-color
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -168px;
}
.x-huge .animation-emphasis-custom:not(.menu__icon),
    .toolbar__icon-big.animation-emphasis-custom
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -196px;
}
.x-huge .animation-emphasis-darken:not(.menu__icon),
    .toolbar__icon-big.animation-emphasis-darken
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -224px;
}
.x-huge .animation-emphasis-desaturate:not(.menu__icon),
    .toolbar__icon-big.animation-emphasis-desaturate
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -252px;
}
.x-huge .animation-emphasis-fill-color:not(.menu__icon),
    .toolbar__icon-big.animation-emphasis-fill-color
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -280px;
}
.x-huge .animation-emphasis-font-color:not(.menu__icon),
    .toolbar__icon-big.animation-emphasis-font-color
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -308px;
}
.x-huge .animation-emphasis-grow-or-shrink:not(.menu__icon),
    .toolbar__icon-big.animation-emphasis-grow-or-shrink
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -336px;
}
.x-huge .animation-emphasis-grow-with-color:not(.menu__icon),
    .toolbar__icon-big.animation-emphasis-grow-with-color
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -364px;
}
.x-huge .animation-emphasis-lighten:not(.menu__icon),
    .toolbar__icon-big.animation-emphasis-lighten
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -392px;
}
.x-huge .animation-emphasis-line-color:not(.menu__icon),
    .toolbar__icon-big.animation-emphasis-line-color
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -420px;
}
.x-huge .animation-emphasis-object-color:not(.menu__icon),
    .toolbar__icon-big.animation-emphasis-object-color
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -448px;
}
.x-huge .animation-emphasis-pulse:not(.menu__icon),
    .toolbar__icon-big.animation-emphasis-pulse
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -476px;
}
.x-huge .animation-emphasis-shimmer:not(.menu__icon),
    .toolbar__icon-big.animation-emphasis-shimmer
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -504px;
}
.x-huge .animation-emphasis-spin:not(.menu__icon),
    .toolbar__icon-big.animation-emphasis-spin
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -532px;
}
.x-huge .animation-emphasis-teeter:not(.menu__icon),
    .toolbar__icon-big.animation-emphasis-teeter
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -560px;
}
.x-huge .animation-emphasis-transparency:not(.menu__icon),
    .toolbar__icon-big.animation-emphasis-transparency
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -588px;
}
.x-huge .animation-emphasis-underline:not(.menu__icon),
    .toolbar__icon-big.animation-emphasis-underline
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -616px;
}
.x-huge .animation-emphasis-wave:not(.menu__icon),
    .toolbar__icon-big.animation-emphasis-wave
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -644px;
}
.x-huge .animation-entrance-Spinner:not(.menu__icon),
    .toolbar__icon-big.animation-entrance-Spinner
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -1372px;
}
.x-huge .animation-entrance-appear:not(.menu__icon),
    .toolbar__icon-big.animation-entrance-appear
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -672px;
}
.x-huge .animation-entrance-basic-zoom:not(.menu__icon),
    .toolbar__icon-big.animation-entrance-basic-zoom
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -700px;
}
.x-huge .animation-entrance-blinds:not(.menu__icon),
    .toolbar__icon-big.animation-entrance-blinds
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -728px;
}
.x-huge .animation-entrance-boomerang:not(.menu__icon),
    .toolbar__icon-big.animation-entrance-boomerang
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -756px;
}
.x-huge .animation-entrance-bounce:not(.menu__icon),
    .toolbar__icon-big.animation-entrance-bounce
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -784px;
}
.x-huge .animation-entrance-center-revolve:not(.menu__icon),
    .toolbar__icon-big.animation-entrance-center-revolve
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -812px;
}
.x-huge .animation-entrance-checkerboard:not(.menu__icon),
    .toolbar__icon-big.animation-entrance-checkerboard
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -840px;
}
.x-huge .animation-entrance-compress:not(.menu__icon),
    .toolbar__icon-big.animation-entrance-compress
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -868px;
}
.x-huge .animation-entrance-credits:not(.menu__icon),
    .toolbar__icon-big.animation-entrance-credits
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -896px;
}
.x-huge .animation-entrance-curve-up:not(.menu__icon),
    .toolbar__icon-big.animation-entrance-curve-up
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -924px;
}
.x-huge .animation-entrance-custom:not(.menu__icon),
    .toolbar__icon-big.animation-entrance-custom
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -952px;
}
.x-huge .animation-entrance-dissolve-in:not(.menu__icon),
    .toolbar__icon-big.animation-entrance-dissolve-in
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -980px;
}
.x-huge .animation-entrance-drop:not(.menu__icon),
    .toolbar__icon-big.animation-entrance-drop
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -1008px;
}
.x-huge .animation-entrance-expand:not(.menu__icon),
    .toolbar__icon-big.animation-entrance-expand
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -1036px;
}
.x-huge .animation-entrance-fade:not(.menu__icon),
    .toolbar__icon-big.animation-entrance-fade
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -1064px;
}
.x-huge .animation-entrance-flip:not(.menu__icon),
    .toolbar__icon-big.animation-entrance-flip
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -1092px;
}
.x-huge .animation-entrance-float-in:not(.menu__icon),
    .toolbar__icon-big.animation-entrance-float-in
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -1120px;
}
.x-huge .animation-entrance-float:not(.menu__icon),
    .toolbar__icon-big.animation-entrance-float
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -1148px;
}
.x-huge .animation-entrance-fly-in:not(.menu__icon),
    .toolbar__icon-big.animation-entrance-fly-in
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -1176px;
}
.x-huge .animation-entrance-grow-turn:not(.menu__icon),
    .toolbar__icon-big.animation-entrance-grow-turn
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -1204px;
}
.x-huge .animation-entrance-peek-in:not(.menu__icon),
    .toolbar__icon-big.animation-entrance-peek-in
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -1232px;
}
.x-huge .animation-entrance-pinwheel:not(.menu__icon),
    .toolbar__icon-big.animation-entrance-pinwheel
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -1260px;
}
.x-huge .animation-entrance-random-bars:not(.menu__icon),
    .toolbar__icon-big.animation-entrance-random-bars
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -1288px;
}
.x-huge .animation-entrance-rise-up:not(.menu__icon),
    .toolbar__icon-big.animation-entrance-rise-up
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -1316px;
}
.x-huge .animation-entrance-shape:not(.menu__icon),
    .toolbar__icon-big.animation-entrance-shape
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -1344px;
}
.x-huge .animation-entrance-spiral-in:not(.menu__icon),
    .toolbar__icon-big.animation-entrance-spiral-in
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -1400px;
}
.x-huge .animation-entrance-split:not(.menu__icon),
    .toolbar__icon-big.animation-entrance-split
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -1428px;
}
.x-huge .animation-entrance-strips:not(.menu__icon),
    .toolbar__icon-big.animation-entrance-strips
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -1456px;
}
.x-huge .animation-entrance-swivel:not(.menu__icon),
    .toolbar__icon-big.animation-entrance-swivel
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -1484px;
}
.x-huge .animation-entrance-wedge:not(.menu__icon),
    .toolbar__icon-big.animation-entrance-wedge
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -1512px;
}
.x-huge .animation-entrance-wheel:not(.menu__icon),
    .toolbar__icon-big.animation-entrance-wheel
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -1540px;
}
.x-huge .animation-entrance-whip:not(.menu__icon),
    .toolbar__icon-big.animation-entrance-whip
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -1568px;
}
.x-huge .animation-entrance-wipe:not(.menu__icon),
    .toolbar__icon-big.animation-entrance-wipe
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -1596px;
}
.x-huge .animation-entrance-zoom:not(.menu__icon),
    .toolbar__icon-big.animation-entrance-zoom
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -1624px;
}
.x-huge .animation-exit-Dissolve-out:not(.menu__icon),
    .toolbar__icon-big.animation-exit-Dissolve-out
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -1988px;
}
.x-huge .animation-exit-Peek-out:not(.menu__icon),
    .toolbar__icon-big.animation-exit-Peek-out
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -2184px;
}
.x-huge .animation-exit-basic-zoom:not(.menu__icon),
    .toolbar__icon-big.animation-exit-basic-zoom
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -1652px;
}
.x-huge .animation-exit-blinds:not(.menu__icon),
    .toolbar__icon-big.animation-exit-blinds
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -1680px;
}
.x-huge .animation-exit-boomerang:not(.menu__icon),
    .toolbar__icon-big.animation-exit-boomerang
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -1708px;
}
.x-huge .animation-exit-bounce:not(.menu__icon),
    .toolbar__icon-big.animation-exit-bounce
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -1736px;
}
.x-huge .animation-exit-center-revolve:not(.menu__icon),
    .toolbar__icon-big.animation-exit-center-revolve
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -1764px;
}
.x-huge .animation-exit-checkerboard:not(.menu__icon),
    .toolbar__icon-big.animation-exit-checkerboard
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -1792px;
}
.x-huge .animation-exit-collapse:not(.menu__icon),
    .toolbar__icon-big.animation-exit-collapse
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -1820px;
}
.x-huge .animation-exit-contract:not(.menu__icon),
    .toolbar__icon-big.animation-exit-contract
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -1848px;
}
.x-huge .animation-exit-credits:not(.menu__icon),
    .toolbar__icon-big.animation-exit-credits
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -1876px;
}
.x-huge .animation-exit-curve-down:not(.menu__icon),
    .toolbar__icon-big.animation-exit-curve-down
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -1904px;
}
.x-huge .animation-exit-custom:not(.menu__icon),
    .toolbar__icon-big.animation-exit-custom
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -1932px;
}
.x-huge .animation-exit-disappear:not(.menu__icon),
    .toolbar__icon-big.animation-exit-disappear
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -1960px;
}
.x-huge .animation-exit-drop:not(.menu__icon),
    .toolbar__icon-big.animation-exit-drop
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -2016px;
}
.x-huge .animation-exit-fade:not(.menu__icon),
    .toolbar__icon-big.animation-exit-fade
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -2044px;
}
.x-huge .animation-exit-flip:not(.menu__icon),
    .toolbar__icon-big.animation-exit-flip
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -2072px;
}
.x-huge .animation-exit-float-out:not(.menu__icon),
    .toolbar__icon-big.animation-exit-float-out
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -2100px;
}
.x-huge .animation-exit-float:not(.menu__icon),
    .toolbar__icon-big.animation-exit-float
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -2128px;
}
.x-huge .animation-exit-fly-out:not(.menu__icon),
    .toolbar__icon-big.animation-exit-fly-out
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -2156px;
}
.x-huge .animation-exit-pinwheel:not(.menu__icon),
    .toolbar__icon-big.animation-exit-pinwheel
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -2212px;
}
.x-huge .animation-exit-random-bars:not(.menu__icon),
    .toolbar__icon-big.animation-exit-random-bars
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -2240px;
}
.x-huge .animation-exit-shape:not(.menu__icon),
    .toolbar__icon-big.animation-exit-shape
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -2268px;
}
.x-huge .animation-exit-shrink-turn:not(.menu__icon),
    .toolbar__icon-big.animation-exit-shrink-turn
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -2296px;
}
.x-huge .animation-exit-sink-down:not(.menu__icon),
    .toolbar__icon-big.animation-exit-sink-down
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -2324px;
}
.x-huge .animation-exit-spinner:not(.menu__icon),
    .toolbar__icon-big.animation-exit-spinner
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -2352px;
}
.x-huge .animation-exit-spiral-out:not(.menu__icon),
    .toolbar__icon-big.animation-exit-spiral-out
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -2380px;
}
.x-huge .animation-exit-split:not(.menu__icon),
    .toolbar__icon-big.animation-exit-split
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -2408px;
}
.x-huge .animation-exit-strips:not(.menu__icon),
    .toolbar__icon-big.animation-exit-strips
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -2436px;
}
.x-huge .animation-exit-swivel:not(.menu__icon),
    .toolbar__icon-big.animation-exit-swivel
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -2464px;
}
.x-huge .animation-exit-wedge:not(.menu__icon),
    .toolbar__icon-big.animation-exit-wedge
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -2492px;
}
.x-huge .animation-exit-wheel:not(.menu__icon),
    .toolbar__icon-big.animation-exit-wheel
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -2520px;
}
.x-huge .animation-exit-whip:not(.menu__icon),
    .toolbar__icon-big.animation-exit-whip
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -2548px;
}
.x-huge .animation-exit-wipe:not(.menu__icon),
    .toolbar__icon-big.animation-exit-wipe
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -2576px;
}
.x-huge .animation-exit-zoom:not(.menu__icon),
    .toolbar__icon-big.animation-exit-zoom
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -2604px;
}
.x-huge .animation-motion-paths-4-point-star:not(.menu__icon),
    .toolbar__icon-big.animation-motion-paths-4-point-star
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -2632px;
}
.x-huge .animation-motion-paths-5-point-star:not(.menu__icon),
    .toolbar__icon-big.animation-motion-paths-5-point-star
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -2660px;
}
.x-huge .animation-motion-paths-6-point-star:not(.menu__icon),
    .toolbar__icon-big.animation-motion-paths-6-point-star
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -2688px;
}
.x-huge .animation-motion-paths-8-point-star:not(.menu__icon),
    .toolbar__icon-big.animation-motion-paths-8-point-star
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -2716px;
}
.x-huge .animation-motion-paths-Inverted-square:not(.menu__icon),
    .toolbar__icon-big.animation-motion-paths-Inverted-square
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -3584px;
}
.x-huge .animation-motion-paths-Inverted-triangle:not(.menu__icon),
    .toolbar__icon-big.animation-motion-paths-Inverted-triangle
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -3612px;
}
.x-huge .animation-motion-paths-arc-down:not(.menu__icon),
    .toolbar__icon-big.animation-motion-paths-arc-down
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -2744px;
}
.x-huge .animation-motion-paths-arc-left:not(.menu__icon),
    .toolbar__icon-big.animation-motion-paths-arc-left
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -2772px;
}
.x-huge .animation-motion-paths-arc-right:not(.menu__icon),
    .toolbar__icon-big.animation-motion-paths-arc-right
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -2800px;
}
.x-huge .animation-motion-paths-arc-up:not(.menu__icon),
    .toolbar__icon-big.animation-motion-paths-arc-up
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -2828px;
}
.x-huge .animation-motion-paths-arcs:not(.menu__icon),
    .toolbar__icon-big.animation-motion-paths-arcs
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -2856px;
}
.x-huge .animation-motion-paths-bean:not(.menu__icon),
    .toolbar__icon-big.animation-motion-paths-bean
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -2884px;
}
.x-huge .animation-motion-paths-bounce-left:not(.menu__icon),
    .toolbar__icon-big.animation-motion-paths-bounce-left
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -2912px;
}
.x-huge .animation-motion-paths-bounce-right:not(.menu__icon),
    .toolbar__icon-big.animation-motion-paths-bounce-right
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -2940px;
}
.x-huge .animation-motion-paths-circle:not(.menu__icon),
    .toolbar__icon-big.animation-motion-paths-circle
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -2968px;
}
.x-huge .animation-motion-paths-clever:not(.menu__icon),
    .toolbar__icon-big.animation-motion-paths-clever
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -2996px;
}
.x-huge .animation-motion-paths-cresent-moon:not(.menu__icon),
    .toolbar__icon-big.animation-motion-paths-cresent-moon
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -3024px;
}
.x-huge .animation-motion-paths-curved-square:not(.menu__icon),
    .toolbar__icon-big.animation-motion-paths-curved-square
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -3052px;
}
.x-huge .animation-motion-paths-curved-x:not(.menu__icon),
    .toolbar__icon-big.animation-motion-paths-curved-x
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -3080px;
}
.x-huge .animation-motion-paths-curvy-left:not(.menu__icon),
    .toolbar__icon-big.animation-motion-paths-curvy-left
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -3108px;
}
.x-huge .animation-motion-paths-curvy-right:not(.menu__icon),
    .toolbar__icon-big.animation-motion-paths-curvy-right
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -3136px;
}
.x-huge .animation-motion-paths-curvy-star:not(.menu__icon),
    .toolbar__icon-big.animation-motion-paths-curvy-star
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -3164px;
}
.x-huge .animation-motion-paths-custom-path:not(.menu__icon),
    .toolbar__icon-big.animation-motion-paths-custom-path
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -3192px;
}
.x-huge .animation-motion-paths-custom:not(.menu__icon),
    .toolbar__icon-big.animation-motion-paths-custom
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -3220px;
}
.x-huge .animation-motion-paths-decaying-wave:not(.menu__icon),
    .toolbar__icon-big.animation-motion-paths-decaying-wave
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -3248px;
}
.x-huge .animation-motion-paths-diagonal-down-right:not(.menu__icon),
    .toolbar__icon-big.animation-motion-paths-diagonal-down-right
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -3276px;
}
.x-huge .animation-motion-paths-diagonal-up-right:not(.menu__icon),
    .toolbar__icon-big.animation-motion-paths-diagonal-up-right
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -3304px;
}
.x-huge .animation-motion-paths-diamond:not(.menu__icon),
    .toolbar__icon-big.animation-motion-paths-diamond
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -3332px;
}
.x-huge .animation-motion-paths-equal-triangle:not(.menu__icon),
    .toolbar__icon-big.animation-motion-paths-equal-triangle
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -3360px;
}
.x-huge .animation-motion-paths-figure-8-four:not(.menu__icon),
    .toolbar__icon-big.animation-motion-paths-figure-8-four
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -3388px;
}
.x-huge .animation-motion-paths-football:not(.menu__icon),
    .toolbar__icon-big.animation-motion-paths-football
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -3416px;
}
.x-huge .animation-motion-paths-funnel:not(.menu__icon),
    .toolbar__icon-big.animation-motion-paths-funnel
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -3444px;
}
.x-huge .animation-motion-paths-heart:not(.menu__icon),
    .toolbar__icon-big.animation-motion-paths-heart
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -3472px;
}
.x-huge .animation-motion-paths-heartbeat:not(.menu__icon),
    .toolbar__icon-big.animation-motion-paths-heartbeat
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -3500px;
}
.x-huge .animation-motion-paths-hexagon:not(.menu__icon),
    .toolbar__icon-big.animation-motion-paths-hexagon
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -3528px;
}
.x-huge .animation-motion-paths-horizontal-figure-8:not(.menu__icon),
    .toolbar__icon-big.animation-motion-paths-horizontal-figure-8
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -3556px;
}
.x-huge .animation-motion-paths-lines-down:not(.menu__icon),
    .toolbar__icon-big.animation-motion-paths-lines-down
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -3640px;
}
.x-huge .animation-motion-paths-lines-left:not(.menu__icon),
    .toolbar__icon-big.animation-motion-paths-lines-left
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -3668px;
}
.x-huge .animation-motion-paths-lines-right:not(.menu__icon),
    .toolbar__icon-big.animation-motion-paths-lines-right
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -3696px;
}
.x-huge .animation-motion-paths-lines-up:not(.menu__icon),
    .toolbar__icon-big.animation-motion-paths-lines-up
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -3724px;
}
.x-huge .animation-motion-paths-lines:not(.menu__icon),
    .toolbar__icon-big.animation-motion-paths-lines
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -3752px;
}
.x-huge .animation-motion-paths-loop-de-loop:not(.menu__icon),
    .toolbar__icon-big.animation-motion-paths-loop-de-loop
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -3780px;
}
.x-huge .animation-motion-paths-loops:not(.menu__icon),
    .toolbar__icon-big.animation-motion-paths-loops
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -3808px;
}
.x-huge .animation-motion-paths-neutron:not(.menu__icon),
    .toolbar__icon-big.animation-motion-paths-neutron
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -3836px;
}
.x-huge .animation-motion-paths-octagon:not(.menu__icon),
    .toolbar__icon-big.animation-motion-paths-octagon
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -3864px;
}
.x-huge .animation-motion-paths-parallelogram:not(.menu__icon),
    .toolbar__icon-big.animation-motion-paths-parallelogram
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -3892px;
}
.x-huge .animation-motion-paths-peanut:not(.menu__icon),
    .toolbar__icon-big.animation-motion-paths-peanut
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -3920px;
}
.x-huge .animation-motion-paths-pentagon:not(.menu__icon),
    .toolbar__icon-big.animation-motion-paths-pentagon
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -3948px;
}
.x-huge .animation-motion-paths-point-star:not(.menu__icon),
    .toolbar__icon-big.animation-motion-paths-point-star
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -3976px;
}
.x-huge .animation-motion-paths-right-triangle:not(.menu__icon),
    .toolbar__icon-big.animation-motion-paths-right-triangle
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -4004px;
}
.x-huge .animation-motion-paths-s-curve-1:not(.menu__icon),
    .toolbar__icon-big.animation-motion-paths-s-curve-1
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -4032px;
}
.x-huge .animation-motion-paths-s-curve-2:not(.menu__icon),
    .toolbar__icon-big.animation-motion-paths-s-curve-2
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -4060px;
}
.x-huge .animation-motion-paths-shapes:not(.menu__icon),
    .toolbar__icon-big.animation-motion-paths-shapes
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -4088px;
}
.x-huge .animation-motion-paths-sine-wave:not(.menu__icon),
    .toolbar__icon-big.animation-motion-paths-sine-wave
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -4116px;
}
.x-huge .animation-motion-paths-spiral-left:not(.menu__icon),
    .toolbar__icon-big.animation-motion-paths-spiral-left
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -4144px;
}
.x-huge .animation-motion-paths-spiral-right:not(.menu__icon),
    .toolbar__icon-big.animation-motion-paths-spiral-right
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -4172px;
}
.x-huge .animation-motion-paths-spiral:not(.menu__icon),
    .toolbar__icon-big.animation-motion-paths-spiral
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -4200px;
}
.x-huge .animation-motion-paths-square:not(.menu__icon),
    .toolbar__icon-big.animation-motion-paths-square
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -4228px;
}
.x-huge .animation-motion-paths-stairs-down:not(.menu__icon),
    .toolbar__icon-big.animation-motion-paths-stairs-down
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -4256px;
}
.x-huge .animation-motion-paths-swoosh:not(.menu__icon),
    .toolbar__icon-big.animation-motion-paths-swoosh
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -4284px;
}
.x-huge .animation-motion-paths-teardrop:not(.menu__icon),
    .toolbar__icon-big.animation-motion-paths-teardrop
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -4312px;
}
.x-huge .animation-motion-paths-trapezoid:not(.menu__icon),
    .toolbar__icon-big.animation-motion-paths-trapezoid
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -4340px;
}
.x-huge .animation-motion-paths-turn-down-right:not(.menu__icon),
    .toolbar__icon-big.animation-motion-paths-turn-down-right
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -4368px;
}
.x-huge .animation-motion-paths-turn-down:not(.menu__icon),
    .toolbar__icon-big.animation-motion-paths-turn-down
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -4396px;
}
.x-huge .animation-motion-paths-turn-up-right:not(.menu__icon),
    .toolbar__icon-big.animation-motion-paths-turn-up-right
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -4424px;
}
.x-huge .animation-motion-paths-turn-up:not(.menu__icon),
    .toolbar__icon-big.animation-motion-paths-turn-up
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -4452px;
}
.x-huge .animation-motion-paths-turns:not(.menu__icon),
    .toolbar__icon-big.animation-motion-paths-turns
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -4480px;
}
.x-huge .animation-motion-paths-vertical-figure-8:not(.menu__icon),
    .toolbar__icon-big.animation-motion-paths-vertical-figure-8
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -4508px;
}
.x-huge .animation-motion-paths-wave:not(.menu__icon),
    .toolbar__icon-big.animation-motion-paths-wave
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -4536px;
}
.x-huge .animation-motion-paths-zigzag:not(.menu__icon),
    .toolbar__icon-big.animation-motion-paths-zigzag
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -4564px;
}
.x-huge .animation-multiple:not(.menu__icon),
    .toolbar__icon-big.animation-multiple
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -4592px;
}
.x-huge .animation-none:not(.menu__icon),
    .toolbar__icon-big.animation-none
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -4620px;
}
.x-huge .btn-add-animation:not(.menu__icon),
    .toolbar__icon-big.btn-add-animation
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -4648px;
}
.x-huge .btn-add-layout:not(.menu__icon),
    .toolbar__icon-big.btn-add-layout
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -4676px;
}
.x-huge .btn-add-slide-master:not(.menu__icon),
    .toolbar__icon-big.btn-add-slide-master
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -4704px;
}
.x-huge .btn-addslide:not(.menu__icon),
    .toolbar__icon-big.btn-addslide
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -4732px;
}
.x-huge .btn-animation-panel:not(.menu__icon),
    .toolbar__icon-big.btn-animation-panel
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -4760px;
}
.x-huge .btn-animation-parameters:not(.menu__icon),
    .toolbar__icon-big.btn-animation-parameters
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -4788px;
}
.x-huge .btn-animation-preview-start:not(.menu__icon),
    .toolbar__icon-big.btn-animation-preview-start
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -4816px;
}
.x-huge .btn-animation-preview-stop:not(.menu__icon),
    .toolbar__icon-big.btn-animation-preview-stop
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -4844px;
}
.x-huge .btn-close-master:not(.menu__icon),
    .toolbar__icon-big.btn-close-master
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -4872px;
}
.x-huge .btn-gridlines:not(.menu__icon),
    .toolbar__icon-big.btn-gridlines
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -4900px;
}
.x-huge .btn-guides:not(.menu__icon),
    .toolbar__icon-big.btn-guides
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -4928px;
}
.x-huge .btn-ins-chart-placeholder:not(.menu__icon),
    .toolbar__icon-big.btn-ins-chart-placeholder
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -4956px;
}
.x-huge .btn-ins-content-placeholder:not(.menu__icon),
    .toolbar__icon-big.btn-ins-content-placeholder
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -4984px;
}
.x-huge .btn-ins-picture-placeholder:not(.menu__icon),
    .toolbar__icon-big.btn-ins-picture-placeholder
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -5012px;
}
.x-huge .btn-ins-smartart-placeholder:not(.menu__icon),
    .toolbar__icon-big.btn-ins-smartart-placeholder
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -5040px;
}
.x-huge .btn-ins-table-placeholder:not(.menu__icon),
    .toolbar__icon-big.btn-ins-table-placeholder
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -5068px;
}
.x-huge .btn-ins-text-placeholder:not(.menu__icon),
    .toolbar__icon-big.btn-ins-text-placeholder
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -5096px;
}
.x-huge .btn-ins-vertical-content-placeholder:not(.menu__icon),
    .toolbar__icon-big.btn-ins-vertical-content-placeholder
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -5124px;
}
.x-huge .btn-ins-vertical-text-placeholder:not(.menu__icon),
    .toolbar__icon-big.btn-ins-vertical-text-placeholder
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -5152px;
}
.x-huge .btn-normal:not(.menu__icon),
    .toolbar__icon-big.btn-normal
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -5180px;
}
.x-huge .btn-pagenum:not(.menu__icon),
    .toolbar__icon-big.btn-pagenum
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -5208px;
}
.x-huge .btn-slide-master:not(.menu__icon),
    .toolbar__icon-big.btn-slide-master
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -5236px;
}
.x-huge .btn-slidesize:not(.menu__icon),
    .toolbar__icon-big.btn-slidesize
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -5264px;
}
.x-huge .btn-transition-clock:not(.menu__icon),
    .toolbar__icon-big.btn-transition-clock
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -5292px;
}
.x-huge .btn-transition-cover:not(.menu__icon),
    .toolbar__icon-big.btn-transition-cover
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -5320px;
}
.x-huge .btn-transition-fade:not(.menu__icon),
    .toolbar__icon-big.btn-transition-fade
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -5348px;
}
.x-huge .btn-transition-morph:not(.menu__icon),
    .toolbar__icon-big.btn-transition-morph
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -5376px;
}
.x-huge .btn-transition-none:not(.menu__icon),
    .toolbar__icon-big.btn-transition-none
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -5404px;
}
.x-huge .btn-transition-push:not(.menu__icon),
    .toolbar__icon-big.btn-transition-push
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -5432px;
}
.x-huge .btn-transition-random:not(.menu__icon),
    .toolbar__icon-big.btn-transition-random
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -5460px;
}
.x-huge .btn-transition-split:not(.menu__icon),
    .toolbar__icon-big.btn-transition-split
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -5488px;
}
.x-huge .btn-transition-uncover:not(.menu__icon),
    .toolbar__icon-big.btn-transition-uncover
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -5516px;
}
.x-huge .btn-transition-wipe:not(.menu__icon),
    .toolbar__icon-big.btn-transition-wipe
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -5544px;
}
.x-huge .btn-transition-zoom:not(.menu__icon),
    .toolbar__icon-big.btn-transition-zoom
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -5572px;
}
