.btn {
    &.x-huge {
        &.active, &:active {
            &:not(:disabled):not(.disabled) {
                .toolbar__icon {
                    background-position-x: var(--button-xhuge-active-icon-offset-x,0);
                }
            }
        }
    }

    &.active, &:active {
        &:not(:disabled):not(.disabled) {
            .toolbar__icon.toolbar__icon-big {
                background-position-x: var(--button-xhuge-active-icon-offset-x,0);
            }
        }
    }
}
.x-huge .toolbar__icon, .toolbar__icon.toolbar__icon-big {
    background-image: var(--sprite-button-big-100, url(resources/../../img/v2/iconsbig.png));
    background-size: var(--sprite-button-big-width, 56px) auto;

}
.x-huge .btn-audio:not(.menu__icon),
    .toolbar__icon-big.btn-audio
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) 0px;
}
.x-huge .btn-background-plugins:not(.menu__icon),
    .toolbar__icon-big.btn-background-plugins
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -28px;
}
.x-huge .btn-big-add-comment:not(.menu__icon),
    .toolbar__icon-big.btn-big-add-comment
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -56px;
}
.x-huge .btn-big-colorschemas:not(.menu__icon),
    .toolbar__icon-big.btn-big-colorschemas
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -84px;
}
.x-huge .btn-big-hand-tool:not(.menu__icon),
    .toolbar__icon-big.btn-big-hand-tool
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -112px;
}
.x-huge .btn-big-inserthyperlink:not(.menu__icon),
    .toolbar__icon-big.btn-big-inserthyperlink
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -140px;
}
.x-huge .btn-big-menu-comments:not(.menu__icon),
    .toolbar__icon-big.btn-big-menu-comments
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -168px;
}
.x-huge .btn-big-menu-navigation:not(.menu__icon),
    .toolbar__icon-big.btn-big-menu-navigation
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -196px;
}
.x-huge .btn-big-more:not(.menu__icon),
    .toolbar__icon-big.btn-big-more
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -224px;
}
.x-huge .btn-big-sheet-view:not(.menu__icon),
    .toolbar__icon-big.btn-big-sheet-view
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -252px;
}
.x-huge .btn-big-text-vertical:not(.menu__icon),
    .toolbar__icon-big.btn-big-text-vertical
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -280px;
}
.x-huge .btn-big-text:not(.menu__icon),
    .toolbar__icon-big.btn-big-text
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -308px;
}
.x-huge .btn-compare:not(.menu__icon),
    .toolbar__icon-big.btn-compare
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -336px;
}
.x-huge .btn-datetime:not(.menu__icon),
    .toolbar__icon-big.btn-datetime
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -364px;
}
.x-huge .btn-day:not(.menu__icon),
    .toolbar__icon-big.btn-day
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -392px;
}
.x-huge .btn-editheader:not(.menu__icon),
    .toolbar__icon-big.btn-editheader
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -420px;
}
.x-huge .btn-eraser:not(.menu__icon),
    .toolbar__icon-big.btn-eraser
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -448px;
}
.x-huge .btn-highlighter-tool:not(.menu__icon),
    .toolbar__icon-big.btn-highlighter-tool
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -476px;
}
.x-huge .btn-ic-chat:not(.menu__icon),
    .toolbar__icon-big.btn-ic-chat
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -504px;
}
.x-huge .btn-ic-coedit:not(.menu__icon),
    .toolbar__icon-big.btn-ic-coedit
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -532px;
}
.x-huge .btn-ic-history:not(.menu__icon),
    .toolbar__icon-big.btn-ic-history
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -560px;
}
.x-huge .btn-ic-protect:not(.menu__icon),
    .toolbar__icon-big.btn-ic-protect
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -588px;
}
.x-huge .btn-ic-sharing:not(.menu__icon),
    .toolbar__icon-big.btn-ic-sharing
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -616px;
}
.x-huge .btn-ic-signature:not(.menu__icon),
    .toolbar__icon-big.btn-ic-signature
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -644px;
}
.x-huge .btn-img-align:not(.menu__icon),
    .toolbar__icon-big.btn-img-align
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -672px;
}
.x-huge .btn-img-bkwd:not(.menu__icon),
    .toolbar__icon-big.btn-img-bkwd
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -700px;
}
.x-huge .btn-img-frwd:not(.menu__icon),
    .toolbar__icon-big.btn-img-frwd
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -728px;
}
.x-huge .btn-img-group:not(.menu__icon),
    .toolbar__icon-big.btn-img-group
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -756px;
}
.x-huge .btn-insertchart:not(.menu__icon),
    .toolbar__icon-big.btn-insertchart
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -784px;
}
.x-huge .btn-insertequation:not(.menu__icon),
    .toolbar__icon-big.btn-insertequation
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -812px;
}
.x-huge .btn-insertimage:not(.menu__icon),
    .toolbar__icon-big.btn-insertimage
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -840px;
}
.x-huge .btn-insertshape:not(.menu__icon),
    .toolbar__icon-big.btn-insertshape
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -868px;
}
.x-huge .btn-inserttable:not(.menu__icon),
    .toolbar__icon-big.btn-inserttable
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -896px;
}
.x-huge .btn-macros:not(.menu__icon),
    .toolbar__icon-big.btn-macros
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -924px;
}
.x-huge .btn-merge-shapes:not(.menu__icon),
    .toolbar__icon-big.btn-merge-shapes
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -952px;
}
.x-huge .btn-night:not(.menu__icon),
    .toolbar__icon-big.btn-night
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -980px;
}
.x-huge .btn-pagebreak:not(.menu__icon),
    .toolbar__icon-big.btn-pagebreak
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -1008px;
}
.x-huge .btn-pagemargins:not(.menu__icon),
    .toolbar__icon-big.btn-pagemargins
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -1036px;
}
.x-huge .btn-pageorient:not(.menu__icon),
    .toolbar__icon-big.btn-pageorient
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -1064px;
}
.x-huge .btn-pagesize:not(.menu__icon),
    .toolbar__icon-big.btn-pagesize
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -1092px;
}
.x-huge .btn-pen-tool:not(.menu__icon),
    .toolbar__icon-big.btn-pen-tool
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -1120px;
}
.x-huge .btn-plugin-default:not(.menu__icon),
    .toolbar__icon-big.btn-plugin-default
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -1148px;
}
.x-huge .btn-properties:not(.menu__icon),
    .toolbar__icon-big.btn-properties
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -1176px;
}
.x-huge .btn-rem-comment:not(.menu__icon),
    .toolbar__icon-big.btn-rem-comment
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -1204px;
}
.x-huge .btn-resolve-all:not(.menu__icon),
    .toolbar__icon-big.btn-resolve-all
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -1232px;
}
.x-huge .btn-select:not(.menu__icon),
    .toolbar__icon-big.btn-select
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -1260px;
}
.x-huge .btn-smart-art:not(.menu__icon),
    .toolbar__icon-big.btn-smart-art
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -1288px;
}
.x-huge .btn-symbol:not(.menu__icon),
    .toolbar__icon-big.btn-symbol
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -1316px;
}
.x-huge .btn-textart:not(.menu__icon),
    .toolbar__icon-big.btn-textart
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -1344px;
}
.x-huge .btn-update:not(.menu__icon),
    .toolbar__icon-big.btn-update
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -1372px;
}
.x-huge .btn-video:not(.menu__icon),
    .toolbar__icon-big.btn-video
{
    background-position: var(--button-xhuge-normal-icon-offset-x,0) -1400px;
}
